body {
	font: 16px/1.5em sans-serif;
}

.wrap {
	width: 800px;
	margin: 0 auto;
}

button {
	border: 0 none;
	border-radius: 4px;
	padding: 5px 15px;
	background: #ccc;
	font-size: 1.1em;
	cursor: pointer;
	transition: 0.3s all;
	&:hover {
		opacity: 0.6;
	}
	&.active {
		color: #fff;
		background: darkslateblue;
		cursor: default;
	}
}

.animation-list,
h1 {
	font-family: "Roboto Slab", sans-serif;
}

h1 {
	color: darkslateblue;
}

.bubbles {
	svg {
		position: absolute;
		left: 0;
		top: 0;
	}
}
#explain {
	background: darkslateblue url("../img/playground.png") no-repeat 98% bottom / 150px auto;
	border-radius: 10px;
	color: #fff;
	margin: 30px 0;
	min-height: 160px;
	padding: 20px;
	> p {
		line-height: 150%;
		&.extra-padding {
			padding-right: 160px;
		}
	}
	h2 {
		margin: 0 0 10px;
	}
	a {
		border-bottom: 1px solid #fff;
		color: #fff;
		text-decoration: none;
		transition: 0.3s all;
		&:hover {
			border-color: transparent;
			text-decoration: none;
		}
	}
}
